html {
	background-color: #000;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji, sans-serif;
	color: #333;
	font-size: 15px
}

a {
	text-decoration: none
}

.hero-unit {
	color: #fff;
}

.row-heading {
	font-weight: 800;
	font-size: .7em;
	text-transform: uppercase;
	text-align: center;
}

.timetable .time-label {
	font-size: .9em;
	font-weight: 500
}

.timetable .time-entry:hover {
	filter: brightness(110%);
}

.timetable .time-entry.vip-only {
	background-color: #c490f5;
}

.timetable .time-entry.SC1005 {
	background-color: #c490f5;
}

.timetable .time-entry.SC1005:hover {
	background-color: #c490f5;
	filter: brightness(110%);
}

.timetable .time-entry.vip-only:hover {
	background-color: #ae67f0
}

.timetable>aside .row-heading {
	color: #fff;
}
